<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<!--SQLite-->
		<add key="provider" value="SQLite"/>

		<!--SqlServer-->
		<!--<add key="provider" value="SqlServer"/>-->
		
	</appSettings>

	<!--Строки подключения-->
	<connectionStrings>
		<add name="SQLite" connectionString="Data Source = D:\\Source\\ConsoleShop_WithDB\\ConsoleShop_WithDB\\ShopDB.db"/>
		<add name="SqlServer" connectionString="Server = .\MSSQLSERVER01; Database=Shop; Trusted_Connection=True; Encrypt=no"/>
	</connectionStrings>
</configuration>